@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
}

button {
  cursor: pointer;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px; /* thinner scrollbar */
  height: 6px; /* for horizontal scroll */
}

::-webkit-scrollbar-thumb {
  background-color: #1a3cb7; /* Tailwind purple-600 */
  border-radius: 9999px; /* fully rounded */
}

::-webkit-scrollbar-track {
  background: transparent; /* or use a light gray */
}

/* Firefox */
* {
  scrollbar-width: thin; /* thin scrollbar */
  scrollbar-color: #1a3cb7 transparent; /* thumb | track */
}
